<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    {{title}}
    <button [class]="locationPath == '/patient/list' ? 'back-dark' : ''" mat-button *ngIf="userType == 'P'" routerLink="/patient/list">Your Appoinment</button>
    <button [class]="locationPath == '/doctor/list' ? 'back-dark' : ''" mat-button *ngIf="userType == 'D'" routerLink="/doctor/list">Patient Appoinments</button>
    <button [class]="locationPath == '/patient/booking' ? 'back-dark' : ''" mat-button *ngIf="userType == 'P'" routerLink="/patient/booking">Booking</button>
  </span>

  <span>{{ time | date: 'hh:mm:ss a' }}</span>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>