<mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Mobile" formControlName="mobile" required>
          <mat-error *ngIf="trrowErrors.mobile.errors && trrowErrors.mobile.errors.required"> This field is required </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="trrowErrors.password.errors && trrowErrors.password.errors.required"> This field is required </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid ? true : false">{{ loading ? 'Loading...' : 'Login'}}</button>
        
      </form>
      <br>
      
      <a routerLink="/signup">Sign up</a>
    </mat-card-content>
</mat-card>