
<mat-card>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
        <h2>Sign Up</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="trrowErrors.name.errors && trrowErrors.name.errors.required"> This field is required </mat-error>
        </mat-form-field>
        <div style="text-align: left;">
          <label>Gendar </label>
          <mat-radio-group formControlName="gendar">
            <mat-radio-button value="M">Male</mat-radio-button>
            <mat-radio-button value="F">Female</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="trrowErrors.gendar.errors && trrowErrors.gendar.errors.required"> This field is required </mat-error>
        </div>
        <mat-form-field class="full-width-input">
          <input matInput type="number" placeholder="Age" formControlName="age" required>
          <mat-error *ngIf="trrowErrors.age.errors && trrowErrors.age.errors.required"> This field is required </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="number" placeholder="Mobile" formControlName="contact" required>
          <mat-error *ngIf="trrowErrors.contact.errors && trrowErrors.contact.errors.required"> This field is required </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Address" formControlName="address" required>
          <mat-error *ngIf="trrowErrors.address.errors && trrowErrors.address.errors.required"> This field is required </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" formControlName="password" placeholder="Password" required>
          <mat-error *ngIf="trrowErrors.password.errors && trrowErrors.password.errors.required"> This field is required </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="registerForm.invalid ? true : false">{{ loading ? 'Loading...' : 'Sign Up'}}</button>
        
      </form>

      <br>
      
      <a routerLink="/">Login</a>

    </mat-card-content>
</mat-card>
