
<div mat-dialog-content>
  <p>Booking Slot For {{ data.date }}</p>
  
    <div class="time-range-example">
      <label>Start Time</label> &nbsp;
        <input type="time" #starttime (change)="onChangeTime('S', starttime.value)" value="{{ data.from_time }}">
    </div>
    <br>
    <div class="time-range-example">
      <label>End Time</label> &nbsp;&nbsp;&nbsp;
        <input type="time" #endtime (change)="onChangeTime('E', endtime.value)" value="{{ data.to_time }}">
    </div><br>
    <div class="time-range-example">
      <label>Comments</label> &nbsp;
        <input type="text" #cmd (change)="cmdChange(cmd.value)" value="{{data.comment}}">
    </div>
    <br>
  <span *ngIf="slotAvailable" style="color:red">Time Available {{ tempFromTime }} to  {{ tempToTime }}</span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="bookDisabled" [mat-dialog-close]="data" cdkFocusInitial>Book</button>
</div>