<mat-card class="calender-card">
    <mat-card-content>
        <mat-calendar [(selected)]="selectedDate" (click)="dateChanged($event)">
        </mat-calendar>
    </mat-card-content>
</mat-card>

<mat-card class="slot-card">
    <mat-card-title>
        <h2>Morning</h2>
    </mat-card-title>
    <mat-card-subtitle>	
        <span>(09:00 AM - 01:00 PM)</span>
    </mat-card-subtitle>
    <mat-card-content>
        <div class="row">

            <div class="column" *ngFor="let slotDetails of slot_data">
                <div class="card time-card" *ngIf="slotDetails.slot_type == 'M'">
                    <p>{{ slotDetails.slot_name }}</p>
                    <span class="{{slotDetails.bookings.length > 0 || checkPastDate(slotDetails) ? 'unava-color' : 'ava-color' }}">{{ slotDetails.bookings.length > 0 || checkPastDate(slotDetails) ? 'Unavailable' : 'Available' }}</span>
                    <a (click)="openDialog(slotDetails)" *ngIf="slotDetails.bookings.length <= 0 && checkPastDate(slotDetails) == false">BOOK</a>
                </div>
            </div>
           
        </div>
       
        
    </mat-card-content>
</mat-card>

<mat-card class="slot-card">
    <mat-card-title>
        <h2>Evening</h2>
    </mat-card-title>
    <mat-card-subtitle>	
        <span>(03:00 PM - 07:00 PM)</span>
    </mat-card-subtitle>
    <mat-card-content>
        <div class="row">

            <div class="column" *ngFor="let slotDetails of slot_data">
                <div class="card time-card" *ngIf="slotDetails.slot_type == 'E'">
                    <p>{{ slotDetails.slot_name }}</p>
                    <span class="{{slotDetails.bookings.length > 0 || checkPastDate(slotDetails) ? 'unava-color' : 'ava-color' }}">{{ slotDetails.bookings.length > 0 || checkPastDate(slotDetails) ? 'Unavailable' : 'Available' }}</span>
                    <a (click)="openDialog(slotDetails)" *ngIf="slotDetails.bookings.length <= 0 && checkPastDate(slotDetails) == false">BOOK</a>
                </div>
            </div>
            
        </div>
       
        
    </mat-card-content>
</mat-card>