.calender-card{
    max-width: 250px;
    margin: 2em 4em 0;
    text-align: center;
    float: left;
    height:max-content;
}

.ava-color{
    color: green;
}

.unava-color{
    color: red;
}

.slot-card{
    width: 900px;
    max-width: 1000px;
    margin: 2em 23em auto;
}

.time-card{
    width: 100%;
    background-color: #e4defb;
    float: left;
}

.time-card span{
    font-size: 12px;
}

.time-card a{
    margin-left: 95px;
    text-decoration: none;
}

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
   
  .card {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    padding: 7px;
    margin-top: 7px;
  }

  