<mat-card>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="All"> 
                <br>
                <table class="table-class">
                    <tr>
                        <th>S No</th>
                        <th>Slot</th>
                        <th>Appoinment</th>
                        <th>Duration</th>
                        <th>Status</th>
                    </tr>
                    <tr *ngFor="let bookingDetails of booking_data; index as i;">
                        <td>{{ i + 1 }}</td>
                        <td>{{ bookingDetails.slot.slot_name }}</td>
                        <td>{{ bookingDetails.date + ' ( ' + bookingDetails.from_time + ' to ' + bookingDetails.to_time + ' ) ' }}</td>
                        <td>{{ bookingDetails.duration }}</td>
                        <td class="{{checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed' ? 'unava-color' : 'ava-color' }}">{{ checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) }}</td>
                    </tr>
                </table>
            </mat-tab>
            <mat-tab label="Not Completed"> 
                <br>
                <table class="table-class">
                    <tr>
                        <th>S No</th>
                        <th>Slot</th>
                        <th>Appoinment</th>
                        <th>Duration</th>
                        <th>Status</th>
                    </tr>
                    <tr *ngFor="let bookingDetails of booking_data; index as i;">
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Not Completed'">{{ i + 1 }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Not Completed'">{{ bookingDetails.slot.slot_name }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Not Completed'">{{ bookingDetails.date + ' ( ' + bookingDetails.from_time + ' to ' + bookingDetails.to_time + ' ) ' }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Not Completed'">{{ bookingDetails.duration }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Not Completed'" class="{{checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed' ? 'unava-color' : 'ava-color' }}">{{ checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) }}</td>
                    </tr>
                </table>
            </mat-tab>
            <mat-tab label="Completed"> 
                <br>
                <table class="table-class">
                    <tr>
                        <th>S No</th>
                        <th>Slot</th>
                        <th>Appoinment</th>
                        <th>Duration</th>
                        <th>Status</th>
                    </tr>
                    <tr *ngFor="let bookingDetails of booking_data; index as i;">
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed'">{{ i + 1 }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed'">{{ bookingDetails.slot.slot_name }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed'">{{ bookingDetails.date + ' ( ' + bookingDetails.from_time + ' to ' + bookingDetails.to_time + ' ) ' }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed'">{{ bookingDetails.duration }}</td>
                        <td *ngIf="checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed'" class="{{checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) == 'Completed' ? 'unava-color' : 'ava-color' }}">{{ checkStatus(bookingDetails.date, bookingDetails.from_time, bookingDetails.to_time) }}</td>
                    </tr>
                </table>
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
</mat-card>